@model string
<br />

<div class="container">
    <div class="col-md-6">

        <div class="alert alert-info">

           <h2>@Model عزیز</h2>
            اکانت شما فعال گردید
        </div>

    </div>

</div>

